__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
.pytest_cache/
.coverage
htmlcov/
.git/
.gitignore
.tox/
*.swp
*.swo
*~
.DS_Store
docs/_build/
.vscode/
.idea/
logs/
