services:
  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - app_data:/app/data
    depends_on:
      - db
    networks:
      - pyquizhub-network

  web:
    build: .
    command: poetry run python -m pyquizhub.adapters.web.server
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - api
    networks:
      - pyquizhub-network

  db:
    image: postgres:15-alpine
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - pyquizhub-network

volumes:
  postgres_data:
  app_data:

networks:
  pyquizhub-network:
    driver: bridge